body {
    background-color: #003566;
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 266px;
    text-decoration: none;
}

img:hover {
  height: auto;
        width: 60px;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        transition: all 0.7s ease;

}
img {
  height: auto;
      width: 80px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
}
footer img {
  height: auto;
  width: 200px;
  display: flex;
  justify-content: center;
  padding-left: 880px;
  animation: move 1s;

}
footer img:hover{
height:  auto;
width: 200px;

}

h2 {
  color: #ffc300;
  text-align: center;
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  animation: large 1s;
}

#shokran {
  animation: move2 1s;
  padding-left: 780px;
  color: #ffc300;
  font-size: 20px;
  font-family: monospace;
}
#qualif {
    text-align: center;
    text-decoration: none;
    color: #ffc300;
    font-size: 20px;
    font-family: monospace;
    padding-left: 20px;
    border: solid #ffc300;
    animation: large 1s;
}
#skill {
  animation: large 0.7s;
  font-family: monospace;
}
ul {
    list-style-type: none;
}
#nav-bar {
    border: solid #ffc300;
}
#nav-link {
    position: relative;
    display: table-cell;
    padding-left: 300px;
    top: 70px;
    animation: move1 1s;
}
.typing {
    text-align: center;
    position: relative;
    font-family: 'Cairo', sans-serif;

    font-size: 70px;
    margin-top: 210px;
    color: #ffc300;
    text-decoration: none;
}
.typing::after{
    content:"";
    position: absolute;
    width: 1px;
    height: 80%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;

}

.typing1 {
    text-align: center;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffc300;
    text-decoration: none;
    padding-left: 5px;

}
.typing2 {

    position:absolute;
    left: 845px;
        padding: 90px;
    font-family: 'Cairo', sans-serif;

    font-size: 20px;

    color: #ffc300;
    text-decoration: none;
}
.typing2::after{
    content:"";

    width: 1px;
    height: 80%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;

}


@keyframes move{
  0% {
    padding-left: 0px;
  }
  100% {
    padding-left: 880px;
  }
}

@keyframes move2{
  0% {
    padding-left: 0px;
  }
  100% {
    padding-left: 780px;
  }
}

@keyframes large{
  0% {
    font-size: 5px;
  }
  100% {
    font-size: 20px;
  }
}

@keyframes move1{
  0% {
    padding-left: 0px;
  }
  100% {
    padding-left: 300px;
  }
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
