body {
    background-color: #003566;
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 266px;
    border-style: solid;
    border-width: 2rem;
    text-decoration: none;
    border: solid #ff5e00;
}
img {
    width: 50px;
    height: auto;
  
    
}
#qualif {
    text-align: center;
    text-decoration: none;
    color: #ffc300;
    font-size: 20px;
    font-family: monospace;
    padding-left: 50px;
    border: solid #ffc300;
}
ul {
    list-style-type: none;
}
#nav-bar {
    border: solid #ffc300;
}
#nav-link {
    position: relative;
    display: table-cell;
    padding-left: 325px;
    top: 70px;
}
.typing {
    text-align: center;
    position: relative;
    font-family: 'Cairo', sans-serif;
   
    font-size: 70px;
    margin-top: 210px;
    color: #ffc300;
    text-decoration: none;
}
.typing::after{
    content:"";
    position: absolute;
    width: 1px;
    height: 80%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;

}

.typing1 {
    text-align: center;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffc300;
    text-decoration: none;
    padding-left: 5px;

}
.typing2 {

    position:absolute;
    left: 845px;
        padding: 90px;
    font-family: 'Cairo', sans-serif;
   
    font-size: 20px;

    color: #ffc300;
    text-decoration: none;
}
.typing2::after{
    content:"";

    width: 1px;
    height: 80%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;

}



@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
